.top-btn{
    padding: 1.75rem 2rem;
    background-color: $primary;
    color: $on-primary;
    border-radius: 0 0 0.5rem 0.5rem;

    &:hover{
        background-color: $hover;
        color: $on-primary;
    }
}

.button{
    padding: 1rem 2rem;
    background-color: $primary;
    color: $on-primary;
    border-radius: 0.5rem;
    width: fit-content;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;

    &:hover{
        background-color: $hover;
         color: $on-primary;
    }
}

.secondary-btn{
    display: flex;
    align-items: end;
    width: fit-content;
    margin-top: 1rem;

    & span{
        margin-left: 0.25rem;
        transition: all ease-in-out 0.3s;
    }

    &:hover{
        color: $hover;
        & span{
            margin-left: 0.5rem;
            color: $hover;
        }
    }
}

.title + a{
    margin-bottom: 2rem;
}

.tertiary-button{
    padding: 1rem 2rem;
    background-color: $on-primary;
    color: $primary;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;

    &:hover{
        background-color: $surface-variant;
    }
}

/* Tablet */
@media screen and (min-width: 760px) {
    .button{
        width: fit-content;
        margin-bottom: 1.5rem;
    }

    .tertiary-button{
        width: fit-content;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .title + a{
        margin-bottom: 0;
    }
}
