.top-btn{
    padding: 1.75rem 2rem;
    background-color: $primary;
    color: $on-primary;
    border-radius: 0 0 0.5rem 0.5rem;
}

.button{
    padding: 1rem 2rem;
    background-color: $primary;
    color: $on-primary;
    border-radius: 0.5rem;
    width: fit-content;
}