/* Colors */

$primary: #0B1F8F;
$on-primary: #ffffff;
$surface: #ffffff;
$on-surface: #030826;
$on-surface-variant: #58585A;
$surface-variant: #F7F7F8;
$outline: #D9D9D9;
$outline-variant: #939395;
$hover: #0c27bc;

.blue{
    color: $primary;
}

.gray{
    color: $on-surface-variant;
}

.surface-bg{
    background-color: $surface;
}

.surface-variant-bg{
    background-color: $surface-variant;
}

.primary-bg{
    background-color: $primary;
}

.black{
    color: $on-surface;
}