form{
    background-color: $surface-variant;
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;

    & .input-field{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        & label{
            margin-bottom: 0.5rem;
            font-size: 1rem;
            line-height: 1.5;
        }

        & input{
            height: 2.25rem;
            border: 1px solid $outline-variant;
            border-radius: 4px;
            padding: 0.5rem;

            &[type=file]{
                border: none;
                padding: 0.5rem 0;
            }
        }

        & textarea{
            border: 1px solid $outline-variant;
            border-radius: 4px;
            padding: 0.5rem;
            resize: none;
        }
    }

    & .form-cta{
        margin: 2rem 0;
        text-align: center;
    }
}

/* Tablet */
@media screen and (min-width: 760px) {
    form{
        padding: 2.5rem;
        margin-top: 2rem;
        max-width: 750px;

        & input{
            &.width-80{
                width: 80%;
            }

            &.width-50{
                width: 50%;
            }
        }
    }
  }