* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $surface;
    color: $on-surface;
  }
  
  ul {
    list-style: none;
  }

  a{
    text-decoration: none;
    color: $primary;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    width: fit-content;

    &:hover{
      color: $hover;
    }
  }

  .max-width-1440{
    max-width: 1440px;
    margin: auto;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.footer{
  margin-top: auto;
}

.max-width-992{
  margin: 1rem 1rem 2rem 1rem;
}

.margin-bottom-24{
  margin-bottom: 1.5rem;
}

.margin-bottom-8{
  margin-bottom: 0.5rem;
}

.margin-bottom-16{
  margin-bottom: 1rem;
}

.max-width-992.margin-bottom-48{
  margin-bottom: 3rem;
}


/* Tablet */
@media screen and (min-width: 760px) {
  .max-width-992{
    margin: 2rem 2rem 3rem 2rem;
  }
}

/* Tablet */
@media screen and (min-width: 1200px) {
  .max-width-992{
    max-width: 996px;
    margin: 2.5rem auto 5rem auto;
  }
}

/* Desktop */
@media screen and (min-width: 1600px) {
  .max-width-1600{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}