.hero{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.content{
    display: flex;
    flex-direction: column;

    & .hero-phrases{
        margin: 1.5rem 0 2rem 0;
        & li{
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            &:last-child{
                margin-bottom: 0rem;
            }
            & span{
                display: inline-block;
                margin-right: 6px;
                border-left: 3px solid $primary;
                height: 1rem;
                width: 3px;
                border-radius: 2px;
            }
        }
    }
}

.hero-img-container{
    & img{
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
}

  /* Tablet */
  @media screen and (min-width: 760px) {
    .hero{
        margin: 2rem;
    }
  }

/* Desktop */
@media screen and (min-width: 1200px) {
    .hero{
        flex-direction: row;
        align-items: center;
        margin: 3rem 3.5rem;
    }
    .content{
        width: 50%;
        margin-right: 4rem;
    }

    .hero-img-container{
        width: 50%;
    }
}