header {
    position: relative;
    background-color: $surface;
  }
  
  .navbar {
    padding: 1.125rem 1rem;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .right-nav{
    & .nav-links, a{
      display: none;
    }

  }

.whatsapp-sticky{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.mobile-nav-trigger, .mobile-nav{
  display: none;
}
  
  /* Mobile nav*/
  @media screen and (max-width: 550px) {
    .navbar {
      padding: 1rem;
      @include flex(space-between, center, row);
      &.bg-white {
        background-color: $surface;
      }
    }

    .mobile-nav-trigger{
      display: initial;
      cursor: pointer;

      & span{
        font-size: 2.5rem;
      }
    }

    .mobile-nav{
      display: flex;
      flex-direction: column;
      padding: 0 1rem 1.5rem 1rem;
      background-color: $primary;
      animation: fadeIn 0.3s;
      & li{
        padding: 1.5rem 0;
        border-bottom: 1px solid $outline;

        & a{
          color: $surface;
        }
      }

      & .top-btn{
        margin-top: 1.5rem;
        border-radius: 0.5rem;
        width: 100%;
        text-align: center;
        background-color: $surface;
        color: $primary;
        padding: 1rem 2rem;

        &:hover{
          background-color: $surface-variant;
          color: $primary;
        }
      }

      &.collapsed{
        display: none;
      }
    }
  }

  @keyframes fadeIn {
    from {
         opacity: 0;
    }

    to {
         opacity: 1;
    }
  }


  /* Tablet */
  @media screen and (min-width: 550px) {
    .navbar {
      padding: 0rem 1rem;
      @include flex(space-between, center, row);
      &.bg-white {
        background-color: $surface;
      }
    }

    .right-nav{
      display: flex;
      & .nav-links{
          margin-right: 2rem;
      }

      & .nav-links, a{
        display: flex;
      }

      .nav-links {
        @include flex(space-between, center, row);
        .link {
          margin: 0 1rem;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
  
          & a:not(.top-btn){
              color: $on-surface;
          }

          & a.selected{
            color: $primary;
          }

          & a:hover{
            color: $hover;
          }
        }
      }
  }

  }

  @media screen and (min-width: 760px) {
    .navbar {
      padding: 0rem 2rem;
    }

      .whatsapp-sticky{
        position: fixed;
        bottom: 1rem;
        right: 2rem;
      }

  }
  
  /* Desktop */
  @media screen and (min-width: 1200px) {
    .navbar {
      padding: 0rem 3.5rem;
      @include flex(space-between, center, row);
    }
  
    .nav-links {
      @include flex(space-between, center, row);
      .link {
        margin: 0 1rem;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        & a & a:not(.top-btn){
            color: $on-surface;
        }
      }
    }

    .whatsapp-sticky{
      position: fixed;
      right: 3.5rem;
    }
  }