/* Functions */
/* Imports */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@100&display=swap");
.blue {
  color: #0B1F8F;
}

.gray {
  color: #58585A;
}

.surface-bg {
  background-color: #ffffff;
}

.surface-variant-bg {
  background-color: #F7F7F8;
}

.primary-bg {
  background-color: #0B1F8F;
}

.black {
  color: #030826;
}

/* Typography */
body {
  font-family: 'Inter', sans-serif;
}

.h1-bold {
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 1.3;
}

.h2-bold {
  font-weight: 600;
  font-size: 1.9375rem;
  line-height: 1.3;
}

.h3-bold {
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.32;
}

.body-bold {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

.body-regular {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.small-bold {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.46;
}

.small-regular {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.46;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  color: #030826;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0B1F8F;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a:hover {
  color: #0c27bc;
}

.max-width-1440 {
  max-width: 1440px;
  margin: auto;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}

.footer {
  margin-top: auto;
}

.max-width-992 {
  margin: 1rem 1rem 2rem 1rem;
}

.margin-bottom-24 {
  margin-bottom: 1.5rem;
}

.margin-bottom-8 {
  margin-bottom: 0.5rem;
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.max-width-992.margin-bottom-48 {
  margin-bottom: 3rem;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .max-width-992 {
    margin: 2rem 2rem 3rem 2rem;
  }
}

/* Tablet */
@media screen and (min-width: 1200px) {
  .max-width-992 {
    max-width: 996px;
    margin: 2.5rem auto 5rem auto;
  }
}

/* Desktop */
@media screen and (min-width: 1600px) {
  .max-width-1600 {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  position: relative;
  background-color: #ffffff;
}

.navbar {
  padding: 1.125rem 1rem;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.right-nav .nav-links, .right-nav a {
  display: none;
}

.whatsapp-sticky {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .navbar {
    padding: 0rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar.bg-white {
    background-color: #ffffff;
  }
  .right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right-nav .nav-links {
    margin-right: 2rem;
  }
  .right-nav .nav-links, .right-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-links .link {
    margin: 0 1rem;
  }
  .nav-links .link:first-child {
    margin-left: 0;
  }
  .nav-links .link:last-child {
    margin-right: 0;
  }
  .nav-links .link a:not(.top-btn) {
    color: #030826;
  }
  .nav-links .link a.selected {
    color: #0B1F8F;
  }
  .whatsapp-sticky {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .navbar {
    padding: 0rem 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-links .link {
    margin: 0 1rem;
  }
  .nav-links .link:first-child {
    margin-left: 0;
  }
  .nav-links .link:last-child {
    margin-right: 0;
  }
  .nav-links .link a .nav-links .link a:not(.top-btn) {
    color: #030826;
  }
  .whatsapp-sticky {
    position: fixed;
    right: 3.5rem;
  }
}

.top-btn {
  padding: 1.75rem 2rem;
  background-color: #0B1F8F;
  color: #ffffff;
  border-radius: 0 0 0.5rem 0.5rem;
}

.top-btn:hover {
  background-color: #0c27bc;
  color: #ffffff;
}

.button {
  padding: 1rem 2rem;
  background-color: #0B1F8F;
  color: #ffffff;
  border-radius: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.button:hover {
  background-color: #0c27bc;
  color: #ffffff;
}

.secondary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
}

.secondary-btn span {
  margin-left: 0.25rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.secondary-btn:hover {
  color: #0c27bc;
}

.secondary-btn:hover span {
  margin-left: 0.5rem;
  color: #0c27bc;
}

.title + a {
  margin-bottom: 2rem;
}

.tertiary-button {
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #0B1F8F;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
}

.tertiary-button:hover {
  background-color: #F7F7F8;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1.5rem;
  }
  .tertiary-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .title + a {
    margin-bottom: 0;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .hero-phrases {
  margin: 1.5rem 0 2rem 0;
}

.content .hero-phrases li {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.content .hero-phrases li:last-child {
  margin-bottom: 0rem;
}

.content .hero-phrases li span {
  display: inline-block;
  margin-right: 6px;
  margin-top: 4px;
  border-left: 3px solid #0B1F8F;
  height: 1rem;
  width: 3px;
  border-radius: 2px;
}

.hero-img-container img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .hero {
    margin: 2rem;
  }
  .hero-img-container img {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content .hero-phrases {
    margin: 1.5rem 0 2rem 0;
  }
  .content .hero-phrases li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .hero-phrases li span {
    margin-top: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3rem 3.5rem;
  }
  .content {
    width: 50%;
    margin-right: 4rem;
  }
  .hero-img-container {
    width: 50%;
  }
  .hero-img-container img {
    max-height: 100%;
    border-radius: 1rem;
    -o-object-fit: initial;
       object-fit: initial;
  }
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem 1rem;
}

.content-container .main-content .description {
  margin: 0.5rem 0 1.5rem 0;
}

.body-bold.blue {
  margin-top: 1rem;
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.cards-container .card {
  padding: 1.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0.5rem;
}

.cards-container .card span {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #0B1F8F;
}

.cards-container.alt-grid {
  margin-top: 0.5rem;
}

.cards-container.alt-grid .box-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.article-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-home .article-img-container {
  width: 100%;
  height: 140px;
  border-radius: 0.5rem;
  outline: 1px solid rgba(3, 8, 38, 0.2);
  outline-offset: -1px;
  margin-bottom: 1rem;
}

.article-home .article-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  -o-object-position: left;
     object-position: left;
}

.article-home .small-regular {
  margin: 2px 0 4px 0;
}

.article-home .article-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.article-home:first-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid #D9D9D9;
}

.article-home:last-child {
  margin-top: 1rem;
}

.last-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.last-cta h2 {
  margin-bottom: 1.5rem;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .content-container {
    padding: 5rem 2rem;
  }
  .content-container .main-content .margin-top-32 {
    margin-top: 2rem;
  }
  .last-cta-container {
    padding: 3.5rem 2rem;
  }
  .last-cta-container h2 {
    max-width: 20ch;
  }
  .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .cards-container.alt-grid {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .cards-container.alt-grid .box-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .cards-container.alt-grid .box-2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .cards-container.alt-grid .box-3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
  .cards-container.alt-grid .box-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .cards-container.alt-grid .box-5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .article-home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .article-home .article-img-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    height: 8.5rem;
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .article-home .article-img-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .body-bold.blue {
    margin-top: 0;
  }
  .content-container {
    padding: 6rem 3.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-container .main-content {
    width: 50%;
  }
  .content-container .main-content.left {
    margin-right: 4rem;
  }
  .content-container .main-content.right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .last-cta-container {
    padding: 3.5rem;
  }
}

.blog-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.blog-grid .article .article-img-container {
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  outline: 1px solid rgba(3, 8, 38, 0.2);
  outline-offset: -1px;
  margin-bottom: 1rem;
}

.blog-grid .article .article-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  -o-object-position: left;
     object-position: left;
}

.blog-grid .article .article-content .small-regular {
  margin: 2px 0 4px 0;
}

.blog-grid .article .article-content .article-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.full-img-container {
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  outline: 1px solid rgba(3, 8, 38, 0.2);
  outline-offset: -1px;
  margin-bottom: 1rem;
}

.full-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  -o-object-position: left;
     object-position: left;
}

.full-article .small-regular {
  margin: 0.5rem 0 1rem 0;
}

.recomendations {
  margin-top: 2.5rem;
}

.recomendations h4 {
  margin-bottom: 1rem;
}

.recomendations .recomended-articles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.recomendations .recomended-articles-container .recomended-article .article-img-container {
  width: 100%;
  height: 140px;
  border-radius: 0.5rem;
  outline: 1px solid rgba(3, 8, 38, 0.2);
  outline-offset: -1px;
  margin-bottom: 1rem;
}

.recomendations .recomended-articles-container .recomended-article .article-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  -o-object-position: left;
     object-position: left;
}

.video-container {
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  outline: 1px solid rgba(3, 8, 38, 0.2);
  outline-offset: -1px;
  height: 200px;
}

.video-container iframe {
  border-radius: 0.5rem;
  height: 200px;
}

.article-complementary-info {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #F7F7F8;
  border-radius: 0.5rem;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .blog-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
  .blog-grid .article .article-img-container {
    height: 140px;
  }
  .full-img-container, .video-container {
    width: 65%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .video-container {
    height: 300px;
  }
  .video-container iframe {
    height: 300px;
  }
  .recomendations .recomended-articles-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media screen and (min-width: 1200px) {
  .max-width-640 {
    max-width: 640px;
  }
  .two-columns-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .full-img-container, .video-container {
    width: 100%;
  }
  .recomendations {
    margin-top: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
  }
  .recomendations .recomended-articles-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .recomendations .recomended-articles-container .recomended-article {
    width: 300px;
  }
  .recomendations .recomended-articles-container .recomended-article .article-img-container {
    width: 300px;
  }
}

.about-section {
  margin-top: 2rem;
}

.about-section .about-image-container {
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}

.about-section .about-image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-section .about-list {
  list-style: initial;
}

.about-section .about-list li {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 0.25rem 0 0 1rem;
}

.cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .about-section {
    margin-top: 3rem;
  }
  .about-image-container {
    margin-bottom: 2.5rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-image-container.medilex-img {
    max-width: 400px;
  }
  .cta-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

footer {
  padding: 2.5rem 1rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

footer .footer-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

footer .footer-links .footer-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

footer .footer-links .footer-link-container:last-child {
  margin-right: 0;
}

footer .footer-links .footer-link-container a {
  margin-bottom: 1rem;
}

footer .footer-links .footer-link-container a:last-child {
  margin-bottom: 0;
}

footer .footer-links .footer-link-container .link-container:first-child {
  margin-bottom: 1rem;
}

footer .footer-links .footer-link-container .link-container p {
  margin-bottom: 0.5rem;
}

footer .footer-links .footer-link-container .link-container .social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer .footer-links .footer-link-container .link-container .social-logos a {
  margin-right: 1rem;
  margin-bottom: 0;
}

footer .footer-links .footer-link-container .link-container .social-logos a:last-child {
  margin-right: 0;
}

/* Tablet */
@media screen and (min-width: 760px) {
  footer {
    padding: 3.5rem 2rem 1rem 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  footer {
    padding: 3.5rem 3.5rem 1rem 3.5rem;
  }
}
/*# sourceMappingURL=style.css.map */